<!doctype html>
<html>
<head>
    <title>MegaImage</title>
	
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
		.image { margin: 10px;}
		img {width: 100%};
    </style>
    <style type="text/css" media="print">

    </style>
    
        </style>
    
        <style type="text/css">
                @font-face {
            font-family: 'swistblnk_monthoersropcRg';
            src: url('fonts/swistblnkmonthoersropc-webfont.woff2') format('woff2'),
                 url('fonts/swistblnkmonthoersropc-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            }
            
             body        { padding-top:80px; background-color:#e52013; position: relative; height:100%; font-family: 'swistblnk_monthoersropcRg';}
            
               .heading-1{
          font-size: 40px;
          color:#fff;
          text-align: left;
          padding: 30px 0;
          font-family: 'swistblnk_monthoersropcRg';
          float:left;
      }
            
            .logo img{
            width: 113px;
            float:right;
            padding-top: 11px;
          }
            
            .absolute-bottom{
                background:#fff;
            }
            
            .absolute-bottom {
                background: #fff;
                position: fixed;
                bottom: 0;
                width: 100%;
            }

    </style>

</head>
<body>
<div class="container">

</div>
<div class="absolute-bottom">
  
    <div class="col-xs-8 col-sm-8 left">
        <h1 class="heading-1">Sarbatori fericite pentru inima casei tale!</h1>
    </div>

    <div class="col-xs-4 col-sm-4 right">
        <div class="logo">    
            <img src="images/logo.png" alt="" />
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="javascripts/reconnecting-websocket.js"></script>

<script>
  var myVar = <%- JSON.stringify(jsonData) %>;
  console.log(myVar.length);
  
  for (var i = 0; i < myVar.length; i++) {
	$('.container').append('<div class="col-sm-12 col-md-2 image"><a href="' + myVar[i] +'" ><img class="inner" src="' + myVar[i] + '"></a></div>');
  }
  
</script>
</html>