<!doctype html>
<html>
<head>
  <title>MegaImage</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style type="text/css">
      
      @font-face {
    font-family: 'swistblnk_monthoersropcRg';
    src: url('fonts/swistblnkmonthoersropc-webfont.woff2') format('woff2'),
         url('fonts/swistblnkmonthoersropc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

      
    body        { padding-top:80px; background-color:#e52013; position: relative; height:100%; font-family: 'swistblnk_monthoersropcRg';}
      
      .center-btn{
          margin:0 auto;
          display:table;
      }
      
      
      @media (max-width: 1024px) {
          
          .logo img{
            width: 113px;
            float:right;
          }
          
          .form-control {
            display: block;
            width: 100%;
            height: 57px;
            padding: 6px 12px;
            font-size: 24px;
            line-height: 1.428571429;
            color: #555;
            vertical-align: middle;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
          
        .btn-lg {
        padding: 21px 72px;
        font-size: 28px;
        line-height: 1.33;
        border-radius: 6px;
        margin-top: 100px;
        width: 100%;
        margin-bottom: 179px;
}
      }
      
      label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size:30px;
        color:#fff;
        margin-top:20px;
}
      
      .heading-1{
          font-size: 40px;
          color:#fff;
          text-align: left;
          padding: 30px 0;
          font-family: 'swistblnk_monthoersropcRg';
          float:left;
      }
      
 
      
  </style>
</head>
<body>

<div class="container">

  <div class="col-sm-12">

      <!-- FORM -->
    <form action="/insert" method="post">
      <div class="form-group">
        <label>Nume</label>
        <input type="text" class="form-control" name="nume">
      </div>
      <div class="form-group">
        <label>Prenume</label>
        <input type="text" class="form-control" name="prenume">
      </div>     
      <div class="form-group">
        <label>Telefon</label>
        <input type="text" class="form-control" name="telefon">
      </div>
    
      <button type="submit" class="btn btn-warning btn-lg center-btn">Save</button>
    </form>

  </div>

</div>
<div class="container">
  
    <div class="col-xs-8 col-sm-8 left">
        <h1 class="heading-1">Sarbatori fericite pentru inima casei tale!</h1>
    </div>

    <div class="col-xs-4 col-sm-4 right">
        <div class="logo">
            <img src="images/logo.png" alt="" />
        </div>
    </div>
</div>
</body>
</html>