<!doctype html>
<html>
<head>
    <title>MegaImage</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
        /*.img-holder { position: relative; }
        .img-holder:after {content: "" ; position: absolute; width: 100%; height: 100%; background-image: url(frame.png); top: 0; left: 0;}*/
    </style>
    <style type="text/css" media="print">

    </style>
    
        <style type="text/css">
        @font-face {
    font-family: 'swistblnk_monthoersropcRg';
    src: url('fonts/swistblnkmonthoersropc-webfont.woff2') format('woff2'),
         url('fonts/swistblnkmonthoersropc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
            
             body        { padding-top:80px; background-color:#e52013; position: relative; height:100%; font-family: 'swistblnk_monthoersropcRg';}
            .btn-lg {
                padding: 41px 61px;
                font-size: 35px;
                line-height: 1.33;
                border-radius: 6px;
                display: table;
                margin: 0 auto;
                margin-bottom: 92px;
                width:100%;
            }
            
            .center-top{
                margin-top:30%;
            }
            
    </style>

</head>
<body>
<div class="container center-top">

    <div class="col-sm-6 col-sm-offset-3">
        <!-- FORM -->
       <!-- <form action="/start" method="get">-->
                  <!-- <button type="submit" class="btn btn-warning btn-lg">Start</button>-->
        <button id="startButton" type="button" class="btn btn-warning btn-lg">Porneste experienta</button> <br />
        <!-- <button id="print-button" type="button" class="btn btn-warning btn-lg">Print</button> --> 
      <!--   <button id="sms-button" type="button" class="btn btn-warning btn-lg">SMS</button>  -->
        <button id="reload-button" type="button" class="btn btn-warning btn-lg">Restart experienta</button>  
        <div class="img-holder">
            <img id="img">
        </div>
       <!-- </form>-->
    </div>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="javascripts/reconnecting-websocket.js"></script>
<!-- <script src="/socket.io/socket.io.js"></script>
 --><script>

    //$('#print-button').hide();
   // $('#sms-button').hide();
//    $('#reload-button').hide();

    var connection = new ReconnectingWebSocket("ws://46.101.220.56:4000");
    connection.debug = false;
    connection.timeoutInterval = 999999
    connection.reconnectInterval = 100;
    connection.onmessage = function (event) {
	
	console.log(event.data);
        if (event.data != 'start'){
		if(event.data == 'done')
		{
			$('#startButton').hide();
//			$('#reload-button').show();
		
		}
            /*$('#startButton').hide();
            $('#print-button').show();
            $('#sms-button').show();
            $('#reload-button').show();
            $('#img').prop('src', 'data:image/png;base64,' + event.data);
            $('.img-holder').css('width', $('#img').width());
            $('.img-holder').css('height', $('#img').height());*/

        }
    }
    $('#startButton').on('click', function()
    {
        connection.send('start');		
		//do smth with start button !!
		$('#startButton').hide();
     
           /* $.ajax({
                type: 'POST',
                data: JSON.stringify({pic:"bla"}),
                contentType: 'application/json',
                url: '/start',
                success: function(data) {
                    console.log('success');
                    //console.log(JSON.stringify(data));
                   // $('#h2Txt').html(data);
                }
            });*/
        });
		
		
    $('#sms-button').on('click', function()
    {        
            $.ajax({
                type: 'GET',               
                url: '/sms',
                success: function(data) {
                    console.log('sms sent');
                    //console.log(JSON.stringify(data));
                   // $('#h2Txt').html(data);
                }
            });
        });

  
    $("#reload-button").on('click', function(){
      connection.send('end');
       $.ajax({
                type: 'GET',               
                url: '/end',
                success: function(data) {
                    window.location.href = "http://campaniecraciun.com:2016/"
                }
            });

    });

</script>
</html>